:root {
    --smcs-red: #db2222;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#toppart {
    display: flex;
    flex-direction: column;
    height: 40%;
}

#searchinput {
    transform: translateX(2%);
    font-size: 20px;
    font-weight: bold;
    height: 5vh;
    width: 20vw;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
}

#searchinput:focus {
    outline: none;
}

#search-button {
    transform: translate(-0.8vh, 0.5vh);
    padding-right: 2%;
    margin-top: -2%;
    margin-bottom: -2%;
    font-size: 32px;
    background-color: transparent;
    border: none;
    height: 6vh;
    width: 5vh;
    align-content: center;
    line-height: 5vh;
}

.search {
    margin-top: 2vh;
    padding: 0;
    font-size: 32px;
    border-color: #db2222;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    border-radius: 20px;
}

.clearfix{
    overflow: auto;
}

.clearfix::after {
    content:"";
    clear: both;
    display:table;
}

#resultbox {
    width: 50%;
    height: 30vh;
    list-style-type: none;
    line-height: 1vh;
    border: #6a737d solid 1px;
}

li {
    height: 10vh;
    transform: translateY(2.5vh);
}

a {
    font-size: x-large;
    font-weight: 800;
    text-decoration: none;
    color: var(--smcs-red);
}

p {
    font-size: large;
    font-weight: 500;
}

#blank {
    font-size: xx-large;
    font-weight: bold;
    color: var(--smcs-red);
}